@media(max-width:1000px){

    .container {
        width: 1000px;
    }
    
    .logo {
        padding: 20px 0;
    }

    .header-menu{
        display: none;
    }
    .header-left{
        display: block;
        padding-right: 20px;
    }

    .main-header h3{
        font-size: 20px;
        font-weight: normal;
    }
    .main-header h1{
        margin-top:5px;
        font-size: 50px;
        line-height: 80%;
    }
    .main-header p{
        line-height: 20px;
        font-size: 15px;
    }
    .submit {
        padding:10px 10px;
        background-color: red;
        color: white; 
        display: inline-block;
        margin: 0 auto;
    }
    .number{
        display: none;
    }

    .heading {
        width: 1000px;
    }
    
    
    .heading-left h1{
        width: 300px;
    }
    
    .heading-right a{
        margin-left: 569px;
    }

    .populars li{
        width: 20%;
        padding-bottom: 30px;
        text-align: center;
    }    
    
    .movies li {
        width: 30%;
        padding-bottom: 30px;
    }
}


@media(max-width:670px){
    .container {
        width: 670px;
    }

    .logo {
        padding: 20px 0;
    }

    .header-left{
        display: block;
    }

    .header-menu{
        display: none;
    }
    .main-header{
        text-align: center;
    }
    .main-header h3{
        font-size: 20px;
        font-weight: normal;
    }
    .main-header h1{
        margin-top:5px;
        font-size: 40px;
        line-height: 80%;
    }
    .main-header p{
        line-height: 15px;
        font-size: 15px;
    }

    .heading {
        width: 670px;
    }

    .heading-left h1{
        width: 250px;
    }
    
    .heading-right a{
        margin-left: 300px;
    }

    .populars li{
        width: 30%;
        padding-bottom: 30px;
        text-align: center;
    }

    .movies li {
        width: 50%;
        padding-bottom: 30px;
    }

}